<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-item lines="none" style="display: inline;">
      <ion-icon name="arrow-back" slot="start" (click)="back()"></ion-icon>
      <ion-title class="ion-text-center" style="margin-right: 5%;"> Add subscription </ion-title>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

    <ion-item>
    <ion-card class="card_base">
        <ion-card-content style="width: 100%; height: 100%;">
              <img src="https://logo.clearbit.com/{{data.company}}" alt="{{data.company}}" height="75" class="title_image">
            <ion-item lines="none">
              <ion-label>{{this.name}}</ion-label>
            </ion-item>
            <ion-text class="type">{{data.type}}</ion-text>
            <ion-text class="cost">{{this.cost}}€</ion-text>
        </ion-card-content>
      </ion-card>
  </ion-item>


  <ion-item>
    <ion-label position="floating">Name</ion-label>
    <ion-textarea [(ngModel)]="name" inputmode="text" required=true></ion-textarea>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Cost</ion-label>
    <ion-textarea [(ngModel)]="cost" inputmode="decimal" required=true></ion-textarea>
  </ion-item>

  <ion-item>
    <ion-label>Start date</ion-label>
    <ion-datetime [(ngModel)]="date" max="{{today}}" value="{{today}}" required=true></ion-datetime>
  </ion-item>

  <div class="actions">
    <ion-button color="medium" expand="block" shape="round" (click)="back()" class="back"  type="reset">
      <ion-icon slot="start" name="arrow-undo"></ion-icon>
      Back
    </ion-button>
    <ion-button color="success" expand="block" shape="round" (click)="save()" class="save"  type="submit" id="save_button">
      <ion-icon slot="start" name="save"></ion-icon>
      Add
    </ion-button>
  </div>

</ion-content>

<!--
value="{{data.name}}"
value="{{data.cost}}"
value="{{today}}"
-->
