<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center"> Add Subscriptions </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div>
    <ion-item *ngFor="let additions of (additions | async)" class="addition_item">
      <div (click)="addReminder(additions)">
        <img src="https://logo.clearbit.com/{{additions.company}}" alt="{{additions.name}}" width="100" height="100" class="addition_image">
      </div>
    </ion-item>
  </div>
</ion-content>
