<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-item>
      <ion-title class="ion-text-center"> Subscriptions </ion-title>
      <!--<ion-icon name="information" slot="end" style="display: block"></ion-icon>-->
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item *ngFor="let Reminder of reminders |  async">
      <ion-card class="card_base">
        <ion-card-content>
          <ion-list lines="none">
            <ion-item class="card_title">
              <ion-text>{{Reminder.name}}</ion-text>
            </ion-item>
            <ion-item class="card_date">
              <ion-text>payment date: {{Reminder.payment_date}}</ion-text>
            </ion-item>
          </ion-list>
        </ion-card-content>
      </ion-card>
    </ion-item>
  </ion-list>
</ion-content>
