.card_base {
  width: 95%;
  display: flex;
}


.card_date {
  color: white;
  text-align: right;
  float: right;
}

.title_image {
  border-radius: 10px;
  text-align: left;
  float: left;
}

.cost {
  float: right;
}
