<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-item style="display: inline;">
      <ion-icon name="information" slot="start" (click)="navInfo()"></ion-icon>
      <ion-title class="ion-text-center" style="margin-right: 5%;"> Subscriptions </ion-title>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item *ngFor="let Reminder of reminders |  async">
      <ion-card class="card_base">
        <ion-card-content>
            <ion-item class="card_title">
              <img src="{{Reminder.logo}}" alt="{{Reminder.name}}" height="75" class="title_image">
            </ion-item>
            <ion-item class="card_date">
              <ion-text>payment date: {{Reminder.payment_date}}</ion-text>
            </ion-item>
        </ion-card-content>
      </ion-card>
    </ion-item>
    <!--<p>single: {{Single.name}}</p>-->
  </ion-list>
</ion-content>
