<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-item style="display: inline;">
      <ion-icon name="information" slot="start" (click)="navInfo()"></ion-icon>
      <ion-title class="ion-text-center" style="margin-right: 5%;"> Subscriptions </ion-title>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item lines="none" *ngFor="let Reminder of reminders |  async">
      <ion-card class="card_base">
        <ion-card-content (click)="getDetails(Reminder.id)" style="width: 100%; height: 100%;">
              <img src="{{Reminder.logo}}" height="75" class="title_image">
            <ion-item lines="none">
              <ion-label>{{Reminder.name}}</ion-label>
            </ion-item>
            <ion-text class="cost">{{Reminder.cost}}€</ion-text>
        </ion-card-content>
      </ion-card>
    </ion-item>
  </ion-list>
</ion-content>
