.card_base {
  width: 95%;
  display: flex;
  display: inline-block;
  *display: inline;
}

.card_title {
  color: white;
  text-align: left;
  float: left;
}

.card_date {
  color: white;
  text-align: right;
  float: right;
}

.card_remove {
  text-align: right;
  float: right;
}

.card_remove_icon {
  color: rgb(163, 32, 32);
}
