<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center"> Info </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-item>
      <ion-label>Author:</ion-label>
      <ion-text>Toomas Ulmas</ion-text>
    </ion-item>
    <ion-item>
      <ion-label>Finished:</ion-label>
      <ion-text>08.01.2022</ion-text>
    </ion-item>
    <ion-item>
      <ion-label>Github:</ion-label>
      <ion-icon name="logo-github" color="primary" (click)="Git()"></ion-icon>
    </ion-item>
        <ion-item href="mailto:toomasulmas@gmail.com?subject=Harpi%20App%20Subscriptions">
      <ion-label>Mail:</ion-label>
      <ion-text href="mailto:toomasulmas@gmail.com?subject=Harpi%20App%20Subscriptions" color="primary">toomasulmas@gmail.com</ion-text>
    </ion-item>
  </ion-card>
</ion-content>
