<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-item style="display: inline;">
      <ion-icon name="arrow-back" slot="start" (click)="back()"></ion-icon>
      <ion-title class="ion-text-center" style="margin-right: 5%;"> Delete </ion-title>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content  [fullscreen]="true" class="container">
  <div class="center_vert full_witdh">
    <ion-card>
      <br>
    <ion-item class="full_witdh center_hori">
      <ion-label>Are you sure you want to delete <span>{{single.name}}</span>?</ion-label>
    </ion-item>
    <br>
    <div class="actions">
    <ion-button color="medium" expand="block" shape="round" (click)="back()" class="back">
      <ion-icon slot="start" name="arrow-undo"></ion-icon>
      Back
    </ion-button>
    <ion-button color="danger" expand="block" shape="round" (click)="delete()" class="delete">
      <ion-icon slot="start" name="trash"></ion-icon>
      Delete
    </ion-button>
  </div>
  <br>
    </ion-card>
  </div>
</ion-content>
